
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}

.topbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type:none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    width: calc(33.333% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    padding: 0;
}

.product-image {
    width: 100%;
    height: auto;
}

.caption {
    padding: 15px;
}

.product-title {
    margin: 0 0 10px;
}

.product-description {
    font-size: 14px;
    color: #555;
    margin: 0 0 15px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

button{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
    border-radius: 20px;
    font-size: 20px;
    background-color: #eee;
}
